@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

// @import url('meal.scss');//css


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #212121;
}

ul {
    list-style: none;
}

.container {
    width: 1200px;
    padding: 0px 32px;
    margin: 0 auto;
}

.title {
    p {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: #E67E22;
        margin-bottom: 16px;
    }

    h2 {
        font-weight: 700;
        font-size: 44px;
        letter-spacing: 0.75px;
        color: #555555;
    }
}

.dark-green {
    background-color: #51CF66;
}

.light-green {
    background: #94D82D;
}

.yellow {
    background: #FFD43B;
}

.btn {
    display: block;
    padding: 16px 32px;
    border-radius: 9px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;

    color: white;
    text-decoration: none;
    transition: 0.3s;
    background-color: #E67E22;

    &:hover {
        transform: scale(1.03);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 48px;
    width: 100%;
    background-color: #FDF2E9;

    nav {

        ul {
            display: flex;
            align-items: center;
            list-style: none;

            li {
                &:not(:last-child) {
                    margin-right: 46px;
                }

                &:last-child {
                    padding: 12px 24px;
                    background: #E67E22;
                    border-radius: 9px;
                    cursor: pointer;
                    border: 2px solid transparent;

                    &:hover {
                        background-color: transparent;
                        border: 2px solid #E67E22;
                    }

                    a {
                        color: white;
                    }
                }

                &:hover {
                    a {
                        color: #E67E22;
                    }
                }

                a {
                    font-weight: 500;
                    font-size: 18px;
                    color: #333;
                    text-decoration: none;
                    transition: .3s;
                }
            }

        }
    }
}

main {
    background-color: white;

    .promo {
        display: flex;
        justify-content: center;
        padding: 48px 70px 96px;
        width: 100%;
        background-color: #FDF2E9;

        &__info {
            max-width: 584px;
            margin-right: 145px;

            h1 {
                font-weight: 700;
                font-size: 52px;
                line-height: 55px;
                color: #333333;
                margin-bottom: 32px;
            }

            p {
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                color: #555555;
                margin-bottom: 48px;
            }

            .promo__btns {
                display: flex;
                margin-bottom: 100px;

                a {
                    &:first-child {
                        margin-right: 16px;

                    }

                    &:last-child {
                        background-color: #fff;
                        color: #555555;
                    }
                }
            }

            .promo__customers {
                display: flex;
                align-items: center;

                .customers__list {
                    margin-right: 16px;

                    img:not(:first-child) {
                        margin-left: -20px;
                    }
                }

                .customers__count {
                    font-weight: 600;
                    font-size: 18px;
                    color: #555555;

                    span {
                        color: #E67E22;
                    }
                }
            }
        }

        &__img {
            img {
                width: 100%;
            }
        }
    }

    .section__featured {
        width: 100%;
        padding: 48px 0 32px;


        h4 {
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            text-align: center;
            color: #888888;
            margin-bottom: 26px;
        }

        .logos {
            display: flex;
            justify-content: space-between;
        }
    }

    .section__how {
        width: 100%;
        padding: 96px 0;

        .steps {
            padding-top: 96px;

            .step {
                display: flex;
                justify-content: space-between;
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 96px;
                }

                &__info {
                    display: flex;
                    align-items: center;
                    width: 536px;

                    .step__subheading {
                        font-weight: 600;
                        font-size: 86px;
                        letter-spacing: 0.75px;
                        color: #DDDDDD;
                        margin-bottom: 12px;
                    }

                    h3 {
                        font-weight: 700;
                        font-size: 30px;
                        color: #555555;
                        margin-bottom: 32px;
                    }

                    .step__descr {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 32px;
                        color: #555555;
                    }
                }

                &__img {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 536px;

                    &:before {
                        position: absolute;
                        content: '';
                        width: 322px;
                        height: 322px;
                        background-color: #FDF2E9;
                        border-radius: 100%;
                    }

                    &:after {
                        position: absolute;
                        content: '';
                        width: 240px;
                        height: 240px;
                        background-color: #FAE5D3;
                        border-radius: 100%;
                    }

                    img {
                        position: relative;
                        width: 188px;
                        z-index: 9999;
                    }
                }
            }
        }
    }

}

@import '_meal.scss';
@import '_testimonials.scss';
@import '_pricing.scss';
@import '_contact.scss';
@import '_footer.scss';